@model sybring_project.Models.Db.Project

@{
    var error = TempData["ErrorMessage"];
    var added = TempData["Added"];
}

<h1>Project Details</h1>

<div>
    <h4>Project Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
       

        @*  <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TimeId)
        </dt>
        <dd class="col-sm-10">
        
        </div>
        } *@

        <dd class="col-sm-10">
            @if (Model.TimeId == null || !Model.TimeId.Any())
            {
                <p>New user has no time to show.</p>

            }
            else
            {
                foreach (var timeHistory in Model.TimeId)
                {
                    <div>
                       
                        <p>User: @Html.DisplayFor(modelItem => timeHistory.Users)</p>
                        <p>Project: @Html.DisplayFor(modelItem => timeHistory.ProjectId)</p>
                       
                    </div>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <h4>Assign a User</h4>
    <form asp-controller="Project" asp-action="Details" method="post">
        <div class="form-group">
            <label asp-for="Users">Select User:</label>
            <select asp-for="Users" asp-items="@(new SelectList(ViewBag.AllUsers, "Id", "UserName"))" class="form-control">
                <option value="">Select a User</option>
            </select>
            <span asp-validation-for="Users" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Users" />

        <button type="submit" class="btn btn-primary">Assign a User</button>
    </form>
</div>


</div>


    @if (error != null)
    {
        <div>@error<br /></div>
    }
    else

    {
        <div>@added</div>
    }



<div>
    <a asp-action="Index">Back to List</a>
</div>
