@model sybring_project.Models.ViewModels.ProjectBillingCompanyVM

@{
    var error = TempData["ErrorMessage"];
    var added = TempData["Added"];
}

<h1>Project Details</h1>

<div>
    <h4>Project Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Project Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projects.FirstOrDefault().Id)
        </dd>

        <dt class="col-sm-2">
            Project Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projects.FirstOrDefault().Name)
        </dd>

        <dt class="col-sm-2">
            Supervisor Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Companies.FirstOrDefault().SupervisorName)
        </dd>
        <dt class="col-sm-2">
            Supervisor Phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Companies.FirstOrDefault().SupervisorPhone)
        </dd>
        <dt class="col-sm-2">
            Supervisor Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Companies.FirstOrDefault().SupervisorEmail)
        </dd>
        <dt class="col-sm-2">
            Organization Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Companies.FirstOrDefault().OrgNumber)
        </dd>
        <dt class="col-sm-2">
            Company Website
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Companies.FirstOrDefault().CompanyWeb)
        </dd>
        <dt class="col-sm-2">
            Company Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Companies.FirstOrDefault().CompanyAddress)
        </dd>
        <dt class="col-sm-2">
            Assignes Users
        </dt>
        <dd class="col-sm-10">
           <ul>
               @foreach (var item in Model.Users)
                {
                    <li>@item.FirstName @item.LastName</li>
                }
           </ul>
        </dd>
    </dl>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
