@model IEnumerable<sybring_project.Models.Db.Project>


@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="section">
    <div class="row">
        <div id="ProjectContainer">
            @foreach (var item in Model)
            {
                <div id="ProjectContainer_@item.Id" style="display: none;">
                    <vc:show-project project-id="@item.Id"></vc:show-project>
                </div>
            }
        </div>
    </div>

</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12 bg-white">
            <table class="table" id="myTable">

                <thead>
                    <tr>

                        <th>
                            <p>NAME</p>

                        </th>
                        <th>
                            <p>DESCRIPTION</p>
                            
                        </th>
                        <th>
                            <p>USERS ON PROJECTS</p>
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                <a href="#" onclick="showProjectDetails('@item.Id');">
                                    @item.Name
                                 
                                </a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </a>
                            </td>

                            <td>
                                <ul>
                                    @foreach (var user in item.Users)
                                    {
                                        <li>
                                            <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">@user.UserName</a><br />
                                        </li>



                                    }
                                </ul>

                            </td>


                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                @*                     <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            *@                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
 </section>
