@using sybring_project.Models.Db
@using sybring_project.Models

@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="card-body pt-3">
    
    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
    
@* 
        <li class="nav-item" role="presentation">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
        </li> *@
        <li class="nav-item" role="presentation">
            <a class="nav-link @ManageNavPages.OverViewNavClass(ViewContext)" id="OverView" asp-page="./UserOverView">OverView</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
        </li>

        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item">
                <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
            </li>
        }

        <li class="nav-item" role="presentation">
            <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
        </li>

       
       
    </ul>
</div>