@page
@model sybring_project.Areas.Identity.Pages.Account.Manage.UserOverViewModel

@using sybring_project.Models.Db


<div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
    
    <h5 class="card-title">Profile Details</h5>

    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Full Name</div>
        <div class="col-lg-9 col-md-8">
            @Model.GetUser.FirstName
            @Model.GetUser.LastName
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Company</div>
        <div class="col-lg-9 col-md-8">@Model.GetUser.</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Job</div>
        <div class="col-lg-9 col-md-8">Web Designer</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Country</div>
        <div class="col-lg-9 col-md-8">@Model.GetUser.CitizenMembership</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Address</div>
        <div class="col-lg-9 col-md-8">@Model.GetUser.Address</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Phone</div>
        <div class="col-lg-9 col-md-8">@Model.GetUser.PhoneNumber</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8"> @Model.GetUser.Email</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">ICE Name</div>
        <div class="col-lg-9 col-md-8"> @Model.GetUser.ICEContactName</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">ICE Phone</div>
        <div class="col-lg-9 col-md-8"> @Model.GetUser.UserICE</div>
    </div>
</div>


