@page
@model sybring_project.Areas.Identity.Pages.Account.Manage.UserOverViewModel

@using sybring_project.Models.Db

<div class="tab-pane fade show active profile-overview p-4" id="profile-overview" role="tabpanel">
    <h5 class="card-title pb-2 fs-4 title">Profile Details</h5>

    <div class="row mb-3">
        <div class="col-md-9">
            <div class="row mb-2">
                <div class="label"><strong>Full Name: </strong>@Model.GetUser.FirstName @Model.GetUser.LastName</div>

            </div>

            <div class="row">
                <div><strong>Project:</strong></div>
                <div class="col-6 label">
                    <ul>
                        @foreach (var project in Model.AssignedProjects)
                        {
                            {

                                <li>
                                    <div class="col">@project.Name </div>
                                </li>


                            }
                        }
                    </ul>



                </div>
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-6 label"><strong>Address:</strong> @Model.GetUser.Address</div>

        </div>
        <div class="row mb-2">
            <div class="col-6 label"><strong>Phone:</strong> @Model.GetUser.PhoneNumber</div>

        </div>
        <div class="row mb-2">
            <div class="col-6 label"><strong>Email:</strong> @Model.GetUser.Email</div>

        </div>
        <div class="row mb-2">
            <div class="col-6 label"><strong>ICE Name:</strong> @Model.GetUser.ICEContactName</div>

        </div>
        <div class="row mb-2">
            <div class="col-6 label"><strong>ICE Phone:</strong> @Model.GetUser.UserICE</div>

        </div>
    </div>
</div>
