@model IEnumerable<sybring_project.Models.Db.TimeHistory>

@{
    ViewData["Title"] = "Time History";
}

<h1>Time History Records</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Date</th>
                <th>StartWork</th>
                <th>EndWork</th>
                <th>StartBrea</th>
                <th>EndBreak</th>
                <th>TotalWorkingHours </th>
                <th>WorkingHours</th>
                <th>FlexiTime</th>
                <th>MoreTime</th>
                <th>Attendance</th>
                <th>AnnualLea</th>
                <th>SickLeave</th>
                <th>Leave Of Absence </th>
                <th>Childcare</th>
                <th>Overtime</th>
                <th>InconvenientHours</th>
                    
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var timeHistory in Model)
            {
                <tr>
                    <td>@timeHistory.Id</td>
                    <td>
                        @foreach (var user in timeHistory.Users)
                        {
                            <span>@user.FirstName @user.LastName</span>

                            <br />
                        }
                    </td>
                    <td>@timeHistory.Date</td>
                    <td>@timeHistory.StartWork</td>
                    <td>@timeHistory.EndWork</td>
                    <td>@timeHistory.StartBreak</td>
                    <td>@timeHistory.EndBreak</td>
                    <td>@timeHistory.TotalWorkingHours</td>
                    <td>@timeHistory.WorkingHours</td>
                    <td>@timeHistory.FlexiTime</td>
                    <td>@timeHistory.MoreTime</td>
                    <td>@timeHistory.AttendanceTime</td>
                    <td>@timeHistory.AnnualLeave</td>
                    <td>@timeHistory.SickLeave</td>
                    <td>@timeHistory.LeaveOfAbsence</td>
                    <td>@timeHistory.Childcare</td>
                    <td>@timeHistory.Overtime</td>
                    <td>@timeHistory.InconvenientHours</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No time history records found.</p>
}

<a asp-action="Create">Create New</a>
