@model sybring_project.Models.ViewModels.TimeHistoryViewModel

@{
    ViewData["Title"] = "Time History";
    @using System.Globalization
}

<h1>Time History Records</h1>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="filter-section mb-4">
</div>

<div class="card p-3">
    @if (Model.TimeHistoriesByMonth.Any())
    {
        <div class="summary-section mb-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>

                        @if (User.Identity.IsAuthenticated && (User.IsInRole("superadmin") || User.IsInRole("admin")))
                        {
                            <th>User</th>
                        }
                        <th>Month</th>
                        <th>Total Working Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var monthGroup in Model.TimeHistoriesByMonth)
                    {
                        var displayedUsers = new List<string>(); // Track displayed users for each month
                        var sortedTimeHistories = monthGroup.Value.OrderByDescending(th => th.Date); // Sort time histories in descending order based on date
                        foreach (var timeHistory in sortedTimeHistories)
                        {
                            var userFullName = $"{timeHistory.Users.FirstOrDefault()?.FirstName} {timeHistory.Users.FirstOrDefault()?.LastName}";
                            // Check if the user has already been displayed for this month
                            if (!displayedUsers.Contains(userFullName))
                            {
                                <tr>
                                    @if (User.Identity.IsAuthenticated && (User.IsInRole("superadmin") || User.IsInRole("admin")))
                                    {
                                        <td>@userFullName</td>
                                    }
                                    <td>@DateTime.ParseExact(monthGroup.Key, "yyyy-MM", CultureInfo.InvariantCulture).ToString("MMMM yyyy")</td>
                                    <td>@monthGroup.Value.Sum(th => th.TotalWorkingHours)</td>
                                    <!-- Add a link/button to view details -->
                                    <td>
                                        <form asp-controller="Time" asp-action="Details" method="get">
                                            <input type="hidden" name="month" value="@monthGroup.Key" />
                                            <button type="submit" class="btn btn-link">View Details</button>
                                        </form>
                                    </td>
                                </tr>
                                displayedUsers.Add(userFullName); // Add the user to the displayed list
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No time history records found.</p>
    }

</div>
