@model sybring_project.Models.ViewModels.TimeReportViewModel

@{
    ViewData["Title"] = "ReportDetails";
    decimal totalWorkHoursForWeek = ViewBag.TotalWorkHoursForWeek;
}

<h1>Report Details</h1>

<!-- Display the working hours -->
<table class="table">
    <thead>
        <tr>
            <th>Day</th>
            <th>Working Hours</th>
            <th>Overtime</th>

        </tr>
    </thead>
    <tbody>


        @for (var i = 0; i < ViewBag.WorkingHoursList.Count; i++)
        {
            <tr>
                @*  <td>@DateTime.Today.AddDays(i).ToString("dddd")</td> *@
                <td>@Enum.GetName(typeof(DayOfWeek), i)</td>
                <td>@ViewBag.WorkingHoursList[i]</td>
                <td>@ViewBag.OvertimeList[i]</td>
            </tr>
        }


    </tbody>
</table>

<div>Total Work Hours for the Week: @totalWorkHoursForWeek</div>


<a asp-action="CreateReport" asp-controller="Time" class="btn btn-primary">Go Back</a>

