@model sybring_project.Models.ViewModels.BillingVM
<h2>Add Billing</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DateStamp" class="control-label">Date Stamp</label>
                <input asp-for="DateStamp" class="form-control" />
                <span asp-validation-for="DateStamp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Cost</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProjectId" class="control-label">Project</label>
                <select asp-for="ProjectId" class="form-control">
                    <option value="">Select a project</option>
                    @foreach (var project in Model.ProjectId)
                    {
                        <option value="@project.Id">@project.Name</option>
                    }
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>

           @*  <div class="form-group">
                <label asp-for="Companies" class="control-label">Company</label>
                <select asp-for="Companies" class="form-control">
                    <option value="">Select a company</option>
                    @foreach (var company in Model.Companies)
                    {
                        <option value="@company.Id">@company.Project</option>
                    }
                </select>
                <span asp-validation-for="Companies" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="SelectedUserId" class="control-label">Select User:</label>
                <select asp-for="SelectedUserId" class="form-control">
                    <option value="">Select a user</option>
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.FirstName @user.LastName || @user.UserName</option>
                    }
                </select>
                <span asp-validation-for="SelectedUserId" class="text-danger"></span>
            </div>

            <input type="hidden" name="projectId" value="@Model.ProjectId" />


           @*  <div class="form-group">
                <dl>
                    <dt>
                        <label asp-for="File"></label>
                    </dt>
                    <dd>
                        <input asp-for="File" type="file">
                        <img src="@Model.File" alt="Image Preview" height="100" width="100" />
                        <span asp-validation-for="File"></span>

                    </dd>
                </dl>
                <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload and Save" onclick="typevalfunc()" />
 *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function typevalfunc() {
        document.getElementById("File").click();
    }
                      

                        }

</script>