@model sybring_project.Models.Db.Billing

@{
    ViewData["Title"] = "Billing Details";
 
}

<h1>Billing Details</h1>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4 text-right">ID:</dt>
            <dd class="col-sm-8">@Model.Id</dd>

            <dt class="col-sm-4 text-right">Description:</dt>
            <dd class="col-sm-8">@Model.Description</dd>

            <dt class="col-sm-4 text-right">Cost:</dt>
            <dd class="col-sm-8">@Model.Cost</dd>

            <dt class="col-sm-4 text-right">Image Link:</dt>
            <dd class="col-sm-8">
                <a href="@Model.BlobLink" download>
                <img src="@Model.BlobLink" class="card-img-top" alt="..." width="100px;">
            </dd>

            <dt class="col-sm-4 text-right">Project:</dt>
            <dd class="col-sm-8">
                <ul>
                    @foreach (var item in @Model.ProjectId)
                    {
                        <li>
                            @item.Name
                        </li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
