@model IEnumerable<sybring_project.Models.Db.Billing>

@{
    ViewData["Title"] = "Index";
}

<h2>Billing List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div>

    @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
{
    <div class="mb-3">
        <label>Select User:</label>
        <select id="selectedUserId" class="form-select" onchange="submitForm()">
            <option value=""></option>
            @foreach (var user in ViewBag.UserList)
            {
                <option value="@user.Value">@user.Text</option>
            }
        </select>
    </div>
}

<table class="table table-responsive" id="Mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                Project Name
            </th>

            <th>
                User Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="width:100px;">
                        <a href="@item.BlobLink" download>
                    <img src="@item.BlobLink" class="card-img-top" alt="...">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>


                    @if (item.ProjectId != null && item.ProjectId.Any())
                    {
                        <ul>
                            @foreach (var user in item.ProjectId)
                            {
                                <li>@user.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No Project associated</span>
                    }
                </td>

                <td>
                    @if (item.Users != null && item.Users.Any())
                    {
                        <ul>
                            @foreach (var user in item.Users)
                            {
                                <li>@user.FirstName @user.LastName</li>
                                <li>@user.UserName</li>

                            }
                        </ul>
                    }
                    else
                    {
                        <span>No users associated</span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>