@model IEnumerable<sybring_project.Models.Db.Billing>

@{
    ViewData["Title"] = "Index";
}

<h1 class="card-title fs-3">Billing List</h1>



<div>

    @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
    {
        <div class="mb-3">
            <label  class="mb-2"for="searchUser">Search User:</label>
            <input type="text" id="searchUser" class="form-control" placeholder="Enter user name" onkeyup="filterUsers()">
        </div>
    }

    <div id="billingInfo">



        <table class="table table-responsive" id="Mytable">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateStamp)
                        </td>
                        <td>
                            @if (item.Users != null && item.Users.Any())
                            {
                                <ul style="list-style-type:none;">
                                    @foreach (var user in item.Users)
                                    {
                                        <li>@user.FirstName @user.LastName</li>
                                        <li>@user.UserName</li>

                                    }
                                </ul>
                            }
                            else
                            {
                                <span>No users associated</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td style="width:100px;">
                            <a href="@item.BlobLink" download>
                                <img src="@item.BlobLink" class="card-img-top" alt="...">
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>


                            @if (item.ProjectId != null && item.ProjectId.Any())
                            {
                                <ul>
                                    @foreach (var user in item.ProjectId)
                                    {
                                        <li>@user.Name</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>No Project associated</span>
                            }
                        </td>


                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<script>
    function filterUsers() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchUser");
        filter = input.value.toUpperCase();
        table = document.getElementById("Mytable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]; // Användarnamn är nu i den andra kolumnen (index 1)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>