@model IEnumerable<sybring_project.Models.Db.Billing>

@{
    ViewData["Title"] = "Index";
}

<h2>Expense List</h2>

<section class="container-fluid">
    <div class="card p-3">
        <div class="col-lg-12 bg-white">
            <table id="myTable" class="table">

                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            Receipt image
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cost)
                        </th>
                        <th>
                            Project Name
                        </th>

                        <th>
                            User Name
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.DateStamp
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageLink)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>


                                @if (item.ProjectId != null && item.ProjectId.Any())
                                {
                                    <ul>
                                        @foreach (var user in item.ProjectId)
                                        {
                                            <li>@user.Name</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>No Project associated</span>
                                }
                            </td>

                            <td>
                                @if (item.Users != null && item.Users.Any())
                                {
                                    <ul>
                                        @foreach (var user in item.Users)
                                        {
                                            <li>@user.FirstName @user.LastName</li>
                                            <li>@user.UserName</li>

                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>No users associated</span>
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="true">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-center">
                                            Actions
                                        </li>
                                        <li>
                                            <div class="d-flex">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                                    <i class="bi bi-pencil"></i>
                                                    <span>Edit</span>
                                                </a>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">
                                                    <i class="bi bi-trash"></i>
                                                    <span>Delete</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>