@model sybring_project.Models.Db.User


<div id="userEle" class="container-fluid">

    @if (Model is not null)
    {

        <div class="row align-items-top">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4><strong>User information</strong></h4>
                    </div>
                    <div class="card-body p-3">
                        <h5>@Model.FirstName @Model.LastName </h5>
                        <h6> @Model.Email</h6>
                        <h6>@Model.PhoneNumber</h6>
                        <h6> @Model.CitizenMembership</h6>
                        <h6>@Model.Address </h6>
                       
                        <h4><strong>ICE Contact:</strong></h4>
                        <h6> @Model.UserICE</h6>
                        <h6> @Model.ICEContactName</h6>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                    <h4><strong>Company Information</strong> </h4>
                    </div>
                    <div class="card-body p-3">
                    @foreach (var project in Model.ProjectId)
                    {
                        <div>
                            @project.Name
                            <form asp-action="RemoveProject" method="post" style="display:inline;">
                                <input type="hidden" name="userId" value="@Model.Id" />
                                <input type="hidden" name="projectId" value="@project.Id" />
                                <button type="submit" class="btn btn-danger remove-project" onclick="alertFunction()">Remove</button>
                            </form>
                        </div>
                    }


                    <p><strong>Addres:</strong></p>
                    <p><strong>OrgNr:</strong></p>
                    <p><strong>Webbsite:</strong></p>
                    <p><strong>Contract:</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header ">
                    <h4><strong>Task Description</strong></h4>
                    </div>
                    <div class="card-body p-3">
                        @foreach (var project in Model.ProjectId)
                        {
                            <h6>@project.Name</h6>
                            <p>@project.Description</p>
                        }
                </div>
                </div>
                <div class="card ">
                    <div class="card-header ">
                    <h4><strong>Supervisor Information</strong></h4>
                    </div>
                    <div class="card-body p-3">
                    <h6><strong>Contact:</strong></h6>
                    <h6><strong>Phone:</strong></h6>
                    <h6><strong>Email:</strong></h6>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <h5>Choose user for details</h5>
    }
</div>
