@model sybring_project.Models.Db.User


<div id="userEle">

    @if (Model is not null)
    {
        <div>
            <p>information</p>
           
            <p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
@* 
            <p><strong>Projects:</strong>   @project.Name </p> *@
          @*   @foreach (var project in Model.ProjectId)
            {
                <p>@project.Name</p>
            }
 *@
            <p><strong>Income:</strong> @Model.UserIncome</p>
            <p><strong>Email:</strong> @Model.Email</p>
        </div>
    }
  @*   else
    {
        <h5>Choose user for details</h5>
    } *@


</div>
