@model sybring_project.Models.Db.Project

@if (Model != null)
{
    <div class="row align-items-top">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Project Information</h5>
                </div>
                <div class="card-body p-3">
                    <h4>
                        <b>
                            @Model.Name
                        </b>
                    </h4>
                    <h6> <strong>Description: </strong> @Model.Description</h6>

                    @if (Model.Companies.Any())
                    {
                        <div class="row company-list">
                            @foreach (var supervisor in Model.Companies)
                            {
                                <div class="col-md-6">
                                    <div class="company-info">
                                        <h6><strong>Company Address:</strong> @supervisor.CompanyAddress</h6>
                                        <h6><strong>Company Homepage:</strong> <a href="@supervisor.CompanyWeb" target="_blank">@supervisor.CompanyWeb</a></h6>
                                        <h6><strong>Organization Nr:</strong> @supervisor.OrgNumber</h6>
                                        <h6><strong>Supervisor Name:</strong> @supervisor.SupervisorName</h6>
                                        <h6><strong>Supervisor Email:</strong> <a href="mailto:@supervisor.SupervisorEmail">@supervisor.SupervisorEmail</a></h6>
                                        <h6><strong>Supervisor Phone:</strong> @supervisor.SupervisorPhone</h6>
                                        <h6><strong>User on this project:</strong>  </h6>

                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>No company information available.</p>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>No project information available.</p>
}
