@model sybring_project.Models.ViewModels.AssignProjectsViewModel

@{
    var add = TempData["Added"];
}

<div>
<form asp-action="AssignProjects" method="post">
    <div class="form-group">
        <label asp-for="SelectedUserIds">Select Users:</label>
        <select asp-for="SelectedUserIds" class="form-control" multiple>
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>

    </div>
    <div class="form-group">
        <label asp-for="SelectedProjectIds">Select Projects:</label>
        <select asp-for="SelectedProjectIds" class="form-control" multiple>
            @foreach (var project in Model.Projects)
            {
                <option value="@project.Id">@project.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Assign Projects</button>
</form>
@if (true)
{
    <div>@add</div>
}

</div>