@model sybring_project.Models.Db.User

@{
    var error = TempData["ErrorMessage"];
    var added = TempData["Added"];
}

<h1>User Details</h1>

<div>
    <h4>User Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserIncome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserIncome)
        </dd>

        <dt class="col-sm-2">
            Working Projects
        </dt>
        <dd class="col-sm-10">
            @foreach (var project in Model.ProjectId)
            {
                <div>@project.Name</div>
            }


        </dd>

           


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageLink)

        </dd>
    </dl>
</div>

@* <div>
    <h4>Related Entities</h4>
    <hr />

    @foreach (var timeHistory in Model.TimeId)
    {

    }
    </p>
    <p>
        @foreach (var billing in Model.ReceiptId)
        {

        }
    </p>
</div> *@
<div>
    <h4>
        Assign Project
    </h4>
    <form asp-controller="User" asp-action="Details" method="post">
        <input type="hidden" name="userId" value="@Model.Id" />

        <div class="form-group">
            <label asp-for="ProjectId">Select Project:</label>
            <select asp-for="ProjectId" asp-items="@(new SelectList(ViewBag.AllProjects, "Id", "Name"))" class="form-control">
                <option value="">Select a Project</option>
            </select>
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Assign Project</button>
    </form>

    @if (error != null)
    {
        <div>@error<br /></div>
    }
    else
    {
        <div>@added</div>
    }
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>