@model IEnumerable<sybring_project.Models.Db.User>

    
@* let table = new DataTable('#myTable'); *@
   
<div class="frame">


    <div id="userInfoContainer">

       
            @foreach (var item in Model)
            {
                <div id="showUserContainer_@item.Id" style="display: none;">
                    <vc:show-user user-id="@item.Id"> </vc:show-user>
                </div>
            }
            

    </div>
    @* <div class="adduser">

        <div class="heading">name:</div>
        <select name="selectList" id="selectList">
            <option value="option1">Alternativ 1</option>
            <option value="option2">Alternativ 2</option>
            <option value="option3">Alternativ 3</option>
            
        </select>

        <div class="heading">project:</div>
        <select name="selectList" id="selectList">
            <option value="option1">Alternativ 1</option>
            <option value="option2">Alternativ 2</option>
            <option value="option3">Alternativ 3</option>

        </select>

        <div class="heading">date:</div>
        <select name="selectList" id="selectList">
            <option value="option1">Alternativ 1</option>
            <option value="option2">Alternativ 2</option>
            <option value="option3">Alternativ 3</option>

        </select>
    </div> *@


    <div class="adduser">
        @* <div class="search-container">

        <input type="text" id="search-bar" placeholder="Search user..">

       
         </div> *@
 
      <a asp-action="Create" class="btn">Create User</a>
    </div>


<div class="table">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th > checkbox  </th>
                <th > User  </th>
                <th > Projects </th>
                <th > Task Description  </th>
                <th > User Name</th>
                <th > Role</th>
                <th > status</th>
                <th > Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                    </td>

                    <td >

                        <a href="#" onclick="showUser('@item.Id');" class="showDetails">@item.FirstName @item.LastName</a>

                    </td>

                    <td>
                        @foreach (var project in item.ProjectId)
                        {

                            @project.Name</br>

                        }
                    </td>
                    <td> </td>
                    <td>@item.TaskDescription</td>
                    <td>@item.UserName</td>
                    
                    <td> </td>

                    <td class="dropdown">
                        <span><i class="bi bi-three-dots-vertical"></i></span>
                        <div class="dropdown-content">
                            <a asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil"></i>Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                       
                    </td>
                </tr>
            }

    </tbody>
    </table>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>


@*https://www.youtube.com/watch?v=8SL_hM1a0yo *@