@model IEnumerable<sybring_project.Models.Db.User>

@{
    ViewData["Title"] = "Index";
}
<div class="card-title p-3">
    <h2><strong> User List </strong></h2>
</div>

<div class="section">
    <div class="row">
        <div class="col-lg-12">
            @foreach (var user in Model)
            {
                <div id="showUserContainer_@user.Id" style="display: none;">
                    <vc:show-user user-id="@user.Id"> </vc:show-user>
                </div>
            }
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="card p-3">
        <div class="col-lg-12 bg-white p-3">
            <table id="myTable" class="table hover">
                <thead>
                    <tr>

                        <th> USER</th>
                        <th> PROJECTS</th>
                        <th> USER NAME</th>
                        <th> STATUS</th>
                        <th> ACTIONS</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>

                            <td>
                                <a href="#" onclick="showUser('@user.Id');" class="showDetails">@user.FirstName @user.LastName</a>
                            </td>
                            <td>
                                @foreach (var project in user.ProjectId)
                                {
                                    @project.Name
                                    <br />
                                }
                            </td>
                            <td>
                                @user.UserName
                            </td>
                            <td>

                                <form asp-action="UpdateStatus" method="post">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <select name="statusId">
                                        @foreach (var status in ViewBag.Statuses as IEnumerable<sybring_project.Models.Db.Status>)
                                        {
                                            <option value="@status.Id">@status.Name.ToUpper()</option>
                                        }
                                    </select>
                                    <button type="submit">Update Status</button>
                                </form>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="true">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-center">Actions</li>
                                        <li>
                                            <div class="d-flex">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@user.Id">
                                                    <i class="bi bi-pencil"></i>
                                                    <span>Edit</span>
                                                </a>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@user.Id">
                                                    <i class="bi bi-trash"></i>
                                                    <span>Archive</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<div>
    <a asp-action="RoleView" asp-route-roleName="admin" class="btn btn-primary">View Admin Users</a>
    <a asp-action="RoleView" asp-route-roleName="archive" class="btn btn-primary">View Archives Users</a>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Create User</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    document.getElementById('statusSelect').addEventListener('change', function () {
        document.getElementById('statusForm').submit();
    });
</script>