@model IEnumerable<sybring_project.Models.Db.User>

<h1>Users List</h1>



<div class="frame">
    <table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Projects</th>
            <th>Task Description</th>
            <th>User Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                

                <td><a asp-action="Details" asp-route-id="@item.Id">@item.FirstName @item.LastName</a></td>
                <td>
                        @foreach (var project in item.ProjectId)
                        {

                            @project.Name
                            
                        }
                </td>
                <td>@item.TaskDescription</td>
                    <td>@item.UserName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div>
    @*  <a asp-action="Create" class="btn btn-primary">Create User</a> *@
</div>



<script>
    function myFunction() {
        alert('Link clicked');
    }
</script>

