@model IEnumerable<sybring_project.Models.Db.User>



<div class="frame">
    
    <table class="table">
    <thead>
        <tr>
            
            <th>Full Name</th>
            <th>Projects</th>
            <th>Task Description</th>
            <th>User Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                

               <td> <a href="#" onclick="showuser('@item.Id');" class="showDetails">@item.FirstName @item.LastName</a>
                       
               </td>

                <td>
                        @foreach (var project in item.ProjectId)
                        {

                            @project.Name
                            
                        }
                </td>
                <td>@item.TaskDescription</td>
                    <td>@item.UserName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
         
    </tbody>
        
</table>
</div>

<div>
    @*  <a asp-action="Create" class="btn btn-primary">Create User</a> *@
</div>

<div id="userInfoContainer" >

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    // $(document).ready(function () {
    //     $('.showDetails').click(function () {
            

           
            
    //     });
    // });

    function showuser(userId) {
        let partialString = "<vc name='_UserDetailsPartial.cshtml' parametername =" + userId +" /vc>";
        console.log(partialString);
        let ele = document.getElementById("userInfoContainer");
        ele.innerText = partialString;
    }

    function myFunction() {
        alert('Link clicked');
    }
</script>

 