@model IEnumerable<sybring_project.Models.Db.User>

<div class="section">
    <div class="row">
        <div class="col-lg-12">
            @foreach (var item in Model)
            {
                <div id="showUserContainer_@item.Id" style="display: none;">
                    <vc:show-user user-id="@item.Id"> </vc:show-user>
                </div>
            }
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="card p-3">
        <div class="col-lg-12 bg-white">
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th> </th>
                        <th> USER</th>
                        <th> PROJECTS</th>
                        <th> USER NAME</th>
                        <th> STATUS</th>
                        <th> ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                <a href="#" onclick="showUser('@user.Id');" class="showDetails">@user.FirstName @user.LastName</a>
                            </td>
                            <td>
                                @foreach (var project in user.ProjectId)
                                {
                                    @project.Name

                                    <br />
                                }
                            </td>
                            <td>@user.UserName</td>
                            <td>
                                <form asp-action="UpdateStatus" method="post">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <select name="status">
                                        @foreach (var status in ViewBag.StatusList)
                                        {
                                            <option value="@status.Id">@status.Name</option>
                                        }
                                    </select>
                                    <button type="submit">Update</button>
                                </form>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="icon" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="">
                                        <li class="dropdown-header text-start"></li>
                                        <li>
                                            <div class="d-flex">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@user.Id">
                                                    <i class="bi bi-pencil"></i>
                                                    <span>Edit</span>
                                                </a>
                                                <span>|</span>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@user.Id">
                                                    <i class="bi bi-trash"></i>
                                                    <span>Delete</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<div>
        <a asp-action="RoleView" asp-route-roleName="underconsult" class="btn btn-primary">View Underconsult Users</a>
    <a asp-action="RoleView" asp-route-roleName="archive" class="btn btn-primary">View Archives Users</a>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Create User</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
