@model IEnumerable<sybring_project.Models.Db.User>

<h1>@ViewData["Title"]</h1>
@if (ViewBag.RoleName == "archive")
{
    <div class="card-title p-3">
        <h2><strong> Archived List </strong></h2>
    </div>
}
else
{
    <div class="card-title p-3">
        <h2><strong> Admin List </strong></h2>
    </div>
}


<div class="card p-3">
    <table class="table" id="Mytable">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                @if (ViewBag.RoleName == "archive")
                {
                    <th>Actions</th>
                }
                else
                {
                    
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @item.FirstName @item.LastName
                        </a>
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @if (ViewBag.RoleName == "archive")
                        {
                           
                            <a asp-action="Delete" asp-route-id="@item.Id">| Restore </a>
                            <a asp-action="TrueDelete" asp-route-id="@item.Id">| Delete </a>
                        }
                        else
                        {
                            
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to user List</a>
    <a asp-action="RoleView" asp-route-roleName="admin" class="btn btn-primary">View all Admins</a>
    <a asp-action="RoleView" asp-route-roleName="archive" class="btn btn-primary">View all Archived Users</a>
</div>
