@{
    ViewData["Title"] = "Home Page";
}


@if (User.IsInRole("admin"))
{
    <section class="section dashboard">
            <div class="col-lg-12">
                <div class="row">
                    <div>
                        <div class="card info-card sales-card">
                            <h4 class="card-title text-center">
                                <span>
                                    <img src="https://timeblobstorage.blob.core.windows.net/projectimages/Sybring_Logo-Black_1000px.png" width="auto" height="70" />

                                    <p class="pt-3">Welcome to Sybring's Time Report</p>

                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Users <span>|</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>

                                    <div class="ps-3">
                                        <h6></h6>

                                        <p class="pt-2 mb-0"><a href="@Url.Action("Index", "user")" class="btn btn-primary btn-sm">Show All Users</a></p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="card info-card revenue-card">



                            <div class="card-body">
                                <h5 class="card-title">Time Report <span>| History</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar2-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>

                                        <p class="pt-2 mb-0"><a href="@Url.Action("Index","Time")" class="btn btn-success btn-sm">Show Time Reports</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="card info-card customers-card">


                                <div class="card-body">
                                    <h5 class="card-title">Projects <span>| </span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-table"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6></h6>
                                            <p class="pt-2 mb-0"><a href="@Url.Action("Index","Project")" class="btn btn-danger btn-sm">Show All Projects</a></p>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="card info-card sales-card  ">



                                <div class="card-body">
                                    <h5 class="card-title">Files <span>| </span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center ">
                                            <i class="bi bi-file-earmark-arrow-up text-info"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6></h6>
                                            <p class="pt-2 mb-0"><a href="@Url.Action("Index", "Billing")" class="btn btn-info btn-sm  text-white">Expenses</a></p>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
      

    </section>


}
else if (User.IsInRole("underconsult"))
{
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div>
                        <div class="card info-card sales-card">
                            <h4 class="card-title text-center">
                                <span>
                                    <img src="~/logo/sybring_logo-black_250px.png" width="auto" height="70" />

                                    <p class="pt-3">Welcome to Sybring's Time Report</p>

                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <div class="card info-card revenue-card">


                            <div class="card-body">
                                <h5 class="card-title">Time <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-calendar2-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>

                                        <p class="pt-2 mb-0"><a href="@Url.Action("Create", "Time")" class="btn btn-success btn-sm">Time Report </a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="card info-card customers-card">



                            <div class="card-body">
                                <h5 class="card-title">History <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center ">
                                        <i class="bi bi-table"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>
                                        <p class="pt-2 mb-0"><a href="@Url.Action("Index", "Time")" class="btn btn-danger btn-sm">Time History</a></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Users <span>|</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>

                                    <div class="ps-3">
                                        <h6></h6>
                                        <p class="pt-2 mb-0"><a class="btn btn-primary btn-sm">Profile</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6">

                        <div class="card info-card sales-card  ">



                            <div class="card-body">
                                <h5 class="card-title">Files <span>| </span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center ">
                                        <i class="bi bi-file-earmark-arrow-up text-info"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6></h6>
                                        <p class="pt-2 mb-0"><a href="@Url.Action("Index", "Billing")" class="btn btn-info btn-sm  text-white">Expenses</a></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


               



            </div>
        </div>

    </section>
}
else
{
            <div class="custom-card">
                <img src="~/logo/pictures/pexels-dominika-roseclay-1036808.jpg" class="card-img-top img-fluid" alt="bild" />
                <div class="custom-card-body">
                    <img src="~/logo/sybring_logo-black_500px.png" alt="Sybring Logo" class="custom-logo" />
                    <h2>Welcome to Sybring's Time Reporting System</h2>
                    <p class="lead">Here, you can easily report your worked hours and keep track of your projects.</p>
                </div>

            </div>

}

