@{
    ViewData["Title"] = "Home Page";
}






@if (User.IsInRole("admin"))
{

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-9">
                <div class="card">
                    <img src="~/logo/pictures/pexels-andrea-piacquadio-3760060.jpg" class="card-img-top" alt="..." />

                    <div class="card-img">
                        <h5 class="card-title">tillfälligt</h5>
                        <p class="card-text">tillfälligt text..</p>
                    </div>
                </div>
                @* <div class="card">
                    <div class="card-header">navigation</div>
                    <div class="card-body">
                        <a href="@Url.Action("Index", "User")">
                        <h5 class="card-title">Uk list</h5>
                       </a>
                        <a href="@Url.Action("Index", "Project")">
                            <h5 class="card-title">Project list</h5>
                        </a>
                        <a href="@Url.Action("Index", "Time")">
                            <h5 class="card-title">Time Reports</h5>
                        </a>
                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div> *@
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/logo/pictures/pexels-picjumbocom-196650.jpg" class="img-fluid rounded-start" alt="Foto">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="@Url.Action("Index", "User")">
                                    <h5 class="card-title">Uk list</h5>
                                </a>
                                <a href="@Url.Action("Index", "Project")">
                                    <h5 class="card-title">Project list</h5>
                                </a>
                                <a href="@Url.Action("Index", "Time")">
                                    <h5 class="card-title">Time Reports</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">


                <div class="card">
                    <img src="/logo/pictures/pexels-cottonbro-studio-4065895.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">tillfälligt</h5>
                        <p class="card-text">tillfälligt text.</p>
                    </div>
                </div>

                @*  <div class="card">
            <div class="card-body">
            <h5 class="card-title">tillfälligt</h5>
            <p class="card-text">tillfälligt text.</p>
            </div>
            <img src="assets/img/card.jpg" class="card-img-bottom" alt="...">
            </div> *@

            </div>




        </div>
    </section>

}
else if (User.IsInRole("underconsult"))
{
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-9">
                <div class="card">
                    <img src="/logo/pictures/pexels-picjumbocom-461077.jpg" class="card-img-top" alt="bild" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Välkommen till Sybrings Tisrapportering</h5>
                        <p class="card-text">Vi hälsar dig varmt välkommen till Sybrings tisrapportering, plattformen där vi tillsammans håller koll på projektets tidsåtgång. Det är här vi samlar in och delar våra tidrapporter varje vecka för rätt fakturering och rapportering till kund. </p>
                        <p>
                            Era insatser är kärnan i vårt arbete och varje inlämnad tidrapport är ett steg närmare vår framgång. Genom att noggrant dokumentera era aktiviteter ger ni inte bara oss, utan även er själva, möjligheten att se den påverkan ni har och att identifiera områden för förbättring. Er tid och engagemang är ovärderliga för oss och tillsammans bygger vi en starkare och mer effektiv arbetsmiljö.

                            Tack för att ni är en del av Sybrings team och för ert ovärderliga bidrag. Låt oss fortsätta att arbeta tillsammans för att nå nya höjder!
                        </p>
                    </div>
                </div>
               @*  <div class="card">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">tillfälligt</h5>
                        tillfälligt text.
                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div> *@
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="@Url.Action("create", "Time")">
                                <img src="/logo/pictures/pexels-picjumbocom-196650.jpg" class="img-fluid rounded-start" alt="Foto">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="@Url.Action("create", "Time")">
                                <div class="card-body">
                                    <h5 class="card-title">Time Report </h5>
                                    <p class="card-text">Report your time here</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">

                <div class="card">
                    <img src="/logo/pictures/pexels-cottonbro-studio-4065895.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>

                @* <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">tillfälligt</h5>
                        <p class="card-text">tillfälligt text.</p>
                    </div>
                    <img src="assets/img/card.jpg" class="card-img-bottom" alt="...">
                </div> *@

            </div>


        </div>
    </section>
}
else
{
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">
                <div class="card" style="position: relative;">
                    <img src="~/logo/pictures/pexels-dominika-roseclay-1036808.jpg" class="card-img-top" alt="bild" />
                    <img src="~/logo/sybring_logo-black_500px.png" class="position-absolute top-50 right-20" style="max-width: 200px;" />
                    <div class="card-img">
                        <h5 class="card-title">tillfälligt</h5>
                        <p class="card-text">tillfälligt text..</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">tillfälligt</h5>
                        tillfälligt text.
                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/logo/pictures/pexels-picjumbocom-196650.jpg" class="img-fluid rounded-start" alt="Foto">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">tillfälligt</h5>
                                <p class="card-text">tillfälligt text.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

         @*    <div class="col-lg-3">


                <div class="card">
                    <img src="/logo/pictures/pexels-cottonbro-studio-4065895.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">tillfälligt</h5>
                        <p class="card-text">tillfälligt text.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">tillfälligt</h5>
                        <p class="card-text">tillfälligt text.</p>
                    </div>
                    <img src="assets/img/card.jpg" class="card-img-bottom" alt="...">
                </div>

            </div> *@

            

        </div>
    </section>
}

